* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2e073f;
}
.textfon {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.outerbox {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2e073f;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 150px;
    font-size: large;
  }
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 70vh;
  background-color: #ad49e1;
  border-radius: 30px;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
input {
  padding: 10px;
  font-size: large;
  width: 25vw;
  border-radius: 5px;
  border: none;
}
.hide {
  visibility: hidden;
}
.large{
  font-size: 25px;
  color: #2e073f;
}
